:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  /* max-width: 1280px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chooseProgram {
  font-size: 1rem;
  max-width: 60%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chooseProgram:focus {
  border: 1px solid black;
}

.entrants {
  margin-top: 20px;
  border: none;
  border-collapse: collapse;
}
.entrants tr td {
  padding: 10px;
}
.entrants thead tr {
  background-color: #d8d8d8;
  font-weight: 500;
}
.entrants tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}
.entrants td {
  border-right: 1px solid #ddd;
}
.entrants tr td:last-child {
  border-right: none;
}